# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment variables and config
config/settings.env
.env

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
