aws_region                = "us-east-1"
name_prefix               = "supply-chain"
environment               = "dev"
k8s_namespace             = "supply-chain"
k8s_service_account_name  = "supply-chain-sqs-worker"

# Fill from your EKS cluster identity output.
eks_oidc_provider_arn     = "arn:aws:iam::<account-id>:oidc-provider/oidc.eks.us-east-1.amazonaws.com/id/XXXXXXXXXXXX"
eks_oidc_provider_url     = "https://oidc.eks.us-east-1.amazonaws.com/id/XXXXXXXXXXXX"
